@media screen and (max-width: 1024px) {
    .body-mask {
        background: transparent !important;
    }

    header {
        width: 100vw !important;

        &>nav {
            display: none;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    background: url("../img/img1.jpg") top / cover no-repeat fixed;
    overflow-x: hidden;
}

a {
    color: #222;
    text-decoration: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

.h {
    display: none !important;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 80vw;
    height: 6em;
    margin: auto;
    border-radius: 0 0 10px 10px;
    font-weight: 900;
    background-color: #fff;

    & a {
        margin: 0 .5rem;
        padding: 1em;
        border-radius: 10px;
        transition: .2s;

        &:not(.cp):hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }

    & .cp {
        background-color: mediumaquamarine;
    }

    & label {
        position: absolute;
        right: 2em;
        transform: rotate(90deg) scale(2);
        transition: .2s;
        cursor: pointer;
        user-select: none;
    }

    & #hmb:checked {
        &~label {
            transform: rotate(0) scale(2);
        }

        &~.hmn {
            display: flex;
            top: 4.6em;
            opacity: 1;
            pointer-events: all;
        }
    }

    & .hmn {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4em;
        z-index: 100;
        width: 100%;
        padding: 1em;
        border-radius: 0 0 20px 20px;
        font-size: 1.2em;
        text-align: center;
        letter-spacing: .1rem;
        background-color: #fff;
        transform-origin: top;
        transition: .2s;
        opacity: 0;
        pointer-events: none;
    }
}

.title-banner {
    width: 80vw !important;
    height: auto;
    margin-top: 1em;
    padding: 1em;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
}

main {
    width: 80vw;
    margin: 1em auto;
    padding: 5em .5em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .3);
}

.button-red,
.button-green,
.button-gray,
.button-yellow {
    font-size: 1em;
    border-radius: 10px;
    font-weight: 900;
    padding: .5rem;
    margin: .5em 0;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-size: 100% 100% !important;
        color: #e1e1e1;
        text-shadow: 3px 0 10px #e1e1e1;
    }

    &:active {
        transform: scale(.9);
    }
}

.button-red {
    background: linear-gradient(red, red) 0 0 / 0 100% no-repeat;
    color: red;
    border: 5px solid red;
}

.button-green {
    background: linear-gradient(mediumseagreen, mediumseagreen) 0 0 / 0 100% no-repeat;
    color: mediumseagreen;
    border: 5px solid mediumseagreen;
}

.button-gray {
    background: linear-gradient(gray, gray) 0 0 / 0 100% no-repeat;
    color: gray;
    border: 5px solid gray;
}

.button-yellow {
    background: linear-gradient(orange, orange) 0 0 / 0 100% no-repeat;
    color: orange;
    border: 5px solid orange;
}

.button-disabled {
    pointer-events: none;
    background-size: 100% 100%;
    color: #e1e1e1;
    opacity: .6;
}

form {
    display: grid;
    gap: 1em;
    width: max(40vw, 15em);
    margin: auto;
    padding: 3em;
    border-radius: 20px;
    text-align: center;
    background-color: #fff;
}

.form-float {
    position: relative;

    &>input,
    &>textarea {
        width: 100%;
        padding: 1.7rem 1rem .5rem 1rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
        transition: .2s;

        &~label {
            position: absolute;
            left: 0;
            font-size: 1.25rem;
            color: #000;
            transform-origin: 0 0;
            transition: all .2s;
            user-select: none;
            pointer-events: none;
        }

        &:focus {
            border: 1px solid #aaa;
            box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .05);
        }

        &:focus~label,
        &:not(:placeholder-shown)~label {
            font-size: 1em;
            opacity: .5;
        }
    }

    &>input {
        height: 3.5rem;

        &~label {
            top: 50%;
            color: #000;
            transform: translate(1rem, -50%);
        }

        &:focus~label,
        &:not(:placeholder-shown)~label {
            transform: translate(1rem, calc(-50% - .8rem));
        }
    }

    &>textarea {
        height: 100%;

        &~label {
            top: 0;
            padding: .9rem 1rem;
            color: #000;
        }

        &:focus~label,
        &:not(:placeholder-shown)~label {
            padding: .3rem 1rem;
        }
    }
}