.empty {
    background-color: lightgray !important;
}

#cal>table {
    width: 60%;
    padding: .1em;
    border-radius: 5px;
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .1);
    background-color: #fff;

    &>thead>tr {
        color: #fff;
        background-color: gray;

        &>th {
            height: 2em;
        }
    }

    & td {
        height: 5em;
        text-align: center;
        background-color: rgb(230, 230, 230);
        user-select: none;

        &:not(.empty) {
            cursor: pointer;
        }
    }
}